*{
    margin: 0;
    padding: 0;
}
.signupbg{
    background: url('./images/signup/photo-1555679427-1f6dfcce943b.jpg') no-repeat;
    background-size: cover;
    animation: signup 1s ease-in;
}
@keyframes signup {
    0%{
        background-position: 20%;
        opacity: 0.1;
    }
    100%{
        background-position: -20%;
        opacity: none; 
    }
    
}