*{
    margin: 0;
    padding: 0;
}
.navbar{
    /* background-color: red; */
    height: 14vh;
    display: flex;
    justify-content: space-between;
    background: cadetblue url('./images/navbar_img/photo-1527151977613-a89904713c47.jpg');
}
.boxlogonav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logonav{
    /* height: 10vh; */
    margin-left: 1vw;
}
.logonav:hover{
    transform: scale(1.05);
    /* border: 3.5px groove black; */
    transition: transform 0.15s ease-in;
    /* transition: border 2s ease-in; */
}
.ulist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -32vw;
}
li{
    list-style: none;
    margin: 0 2vw;
}
li a:hover{
    cursor:pointer;
    color: darkred;
}

.linknav{
    text-decoration: none;
    font-size: 1.8vw;
    color: antiquewhite;
}
.linknav{
    font-size: 2.15vw;
}
.btnnav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}
.signbtn{
    margin-left: 1vw;
}
.loginbtn{
    margin-left: 1vw;
}
.editbtnnav{
    width: 8vw;
    height: 7vh;
}
.editbtnnav:hover{
    transform: scale(1.02);
}
.mainbg{
    display: flex;
    flex-direction:column;
    justify-content:center;

}
.headmain{
    height: 60vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cadetblue url('./images/mainhead/photo-1506012787146-f92b2d7d6d96.jpg') no-repeat ;
    background-size: cover;
    margin-top: 5px;
}
.explore{
    /* background-color: black; */
    color: black;
    border: 2px ridge whitesmoke;
    text-align: center;
    border: 4px solid black;
    font-size: 2vw;
    margin: 0 6vw 2vh;
    font-family: 'Playfair Display', serif;
    border-radius: 11px;
    animation: animate 1s linear ;
}
@keyframes animate {
    0%{
        background-position: 100%;
        transform: none;
        transition: none;
        opacity: 0.1;
    }
    100%{
        background-position: -100%;
        transform: scaleX(1.05);
        transition: transform 0.35s ease-in;
        opacity: none;
    }
    
}
.explore2{
    color: black;
    background-color: #a20c0c;
    text-decoration: underline;
    text-align: center;
    height: 6vh;
    border: 4px groove black;
    background: url('./images/mainhead/photo-1506012787146-f92b2d7d6d96.jpg');
    font-size: 1.7em; 
    margin-bottom: 3vh;
    border-radius: 7px;
    animation: animate 1s linear ;
    font-family: 'Playfair Display', serif;
}
.animatetext{
    animation: movetext 10s linear reverse infinite forwards;
    font-size: 2vw;
    padding: 1vh 0;

}
.removeline{
    text-decoration: none;
    font-weight: bold;
  color: #D04848;
}
.removeline:hover{
    text-decoration: underline;
}
@keyframes movetext {
    0%{
        transform: translateX(0);
        transform-origin: start;
    }
    50%{
        transform: translateX(92vw);
    }
    60%{
        transform: translateX(80vw);

    }
    /* 70%{
        transform: translateX(40vw);

    } */
    100%{
        transform: translateX(0);

    }
    
}
.circle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .circle {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    COLOR: white;
    border: 15px SOLID;
    border-color: #A94438;
    margin: 2vh 7.5vw;
    /* transition: border-type 2s ease-in; */
  }
  .circle:hover{
    transform: scale(1.1);
    /* border: 15px outset #3C0965; */
    animation: comunity 0.1s ease forwards;
    /* animation: round 0.23s ease forwards; */
    text-shadow: 0 0 3px #A94438, 0 0 5px #D24545;
    text-decoration: underline;
  }
  @keyframes comunity {
    from{
        
    border: 15px dashed #A94438;

    }
    
    to{
        
        border: 15px outset #A94438;

    }
  }
  @keyframes round {
    0%{
        border: 15px dashed #3C0965;
    }
    25%{
        border-top: 15px outset #3C0965;
    }
    50%{
        border-top: 15px outset #3C0965;
        border-right: 15px outset #3C0965;
        
    }
    75%{
        border-top: 15px outset #3C0965;
        border-right: 15px outset #3C0965;
        border-bottom: 15px outset #3C0965;
    }
    100%{
        border-top: 15px outset #3C0965;
        border-right: 15px outset #3C0965;
        border-bottom: 15px outset #3C0965;
        border-left: 15px outset #3C0965;
    }
    
    

    
  }
  .seecomunity{
    position: relative;
    top: 5.5vh;
    font-size: 2vw;
    font-weight: bold;
  }

  .percentage {
    font-size: 2vw;
    font-weight: bold;
    position: absolute;

    z-index: 2;
  }
  .fill {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
      #D24545 0% 60%,    /* Adjust the percentages accordingly */
      #E6BAA3 60% 100%
    );
  }

  .percentage{
    color: black;
  }
  .seecomunity{
    color: black;
  }


.comunityheadingcontainer{
    COLOR: #A94438;
  padding: 3vh;
  font-size: 1.8vw;
  text-align: center;
}


.searchbox{
    background-color: #f0f8ff5e;
    border: 2px solid black;
    border-radius: 3vw;
    width: 60vw;
    height: 13vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.letsgo{
    height: 13vh;
    display: flex;
    align-content: center;
    margin-right: 1vw;
}
.gobtn{
    /* background: url('./images/mainhead/headings/photo-1557682224-5b8590cd9ec5.jpg'); */
    background-color: #d78a8a;
    border: 2px solid red;
    border-radius: 17px;
    width: 8vw;
    margin: 2vh 0;
    color: black;
    font-size: 1vw;
    cursor: pointer;
}
.gobtn:hover{
    /* background:url('./images/mainhead/photo-1522010675502-c7b3888985f6.jpg'); */
    background: linear-gradient(to bottom,#A94438,#D04848,#D24545);
    color: black;
}
.inputsearchmain{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.inputmargin{
    margin:0 1vw;
}
.maintain{
    margin-right: 1vw;
}
.sizemain{
    width: 8vw;
    height: 6vh;
}
.where{
    height: 6vh;
    width: 24vw;
    border-radius: 1vw;
    border: 2px solid black;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.To{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.optionsmain{
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2vw;
    margin: 1vh 2vw;
    cursor: pointer;
    background: url('./images/options/options_bg/photo-1428908728789-d2de25dbd4e2.jpg');
}
.box:hover{
    background:url('./images/options/options_bg/photo-1537204319452-fdbd29e2ccc7.jpg');
    transform: scale(1.05);
    transition: transform 0.20s ease-in;
}
.headingoption{
    text-align: center;
    word-break: keep-all;
}
.paraoption{
    text-align: center;
    word-break: keep-all;
}
.stars{
    text-align: center;
}
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 9vw;
    border: 6px groove black;
    border-radius: 3vw;
    overflow: hidden;
}
.left{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.part{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 2vh 3vw;
}
.rcenter{
    text-align: center;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.review{
    margin-top: 5vh;
    margin-left: 5vw;
}
.reviewheading{
    font-family: 'Slabo 27px', serif;
}
.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imgreview:hover{
    cursor:pointer;
    width:33vw;
    transform: scale(1.1);
}
@media screen and (max-width:1350px) {
    .logonav{
        height: 7vh;
    }
    .editbtnnav{
        height: 5vh;
    }
    .btnnav{
        margin-right: 3vw;
    }
    li a{
        color: black;
    }
    
}
@media screen and (max-width:1120px) {
    .set{
        margin-right: 7vw;
    }
}
@media screen and (max-width:1028px) {
    .explore{
        font-size: 2.9vw;
    }
    
}
@media screen and (max-width:844px) {
    .set{
        margin-right: 25vw;
    }
    .sizemain{
        width: 14vw;
        height: 3vh;
    }
    .searchbox{
        width: 75vw;
        height: 11vh;
    }
    .where{
        height: 4vh;
        width: 27vw;
    }
    .letsgo{
        height: 9vh;
    }
    .headmain{
        height: 50vh;
    }
    .optionsmain{
        margin-top: 3vh;
    }
    .headingoption{
        font-size: 1vw;
    }
    .detail{
        margin: 0.75vh 9vw;
    }
    .left{
        margin: 0 1vw;
    }
    .linknav{
        font-size: 3.5vw;
    }
    
}
@media screen and (max-width:832px) {
    .logonav{
        height: 3.75vh;
        margin-top: 1vh;
    }
    .navbar{
        flex-direction: column;
    }
    li{
        margin: 0 9vw;
    }
    .set{
        margin-right: 32vw;
    }
    .editbtnnav{
        height: 4vh;
        width: 14vw;
    }
    .btnnav{
        margin-bottom: 1vh; 
        margin-top: 0.5vh;
    }
    .loginbtn {
        margin-left: 3vw;
    }
    .headmain{
        height:46vh;
    }
    .searchbox{
        height: 7vh;
    }
}
@media screen and (max-width:680px) {
    .optionsmain{
        flex-direction: column;
    }
    .headingoption {
        font-size: 1.75vw;
    }
    .detail{
        flex-direction: column-reverse;
    }
    .explore {
        font-size: 3.5vw;
    }
    .reviewheading{
        font-size: 1.75vw;
    }
    .headmain{
        height:39vh;
    }
}
@media screen and (max-width:550px) {
    .explore{
        margin: 0 13vw 2vh;
    }
    .explore2{
        font-size: 1.3em;
        margin-bottom: 1vh;
        height: 4vh;
    }
    
}
@media screen and (max-width:445px) {
    .explore2{
        font-size: 1.1em;
        height: 3vh;
    }
    .headmain{
        height: 28vh;
    }
    .optionsmain {
        margin-top: 1vh;
    }
    .searchbox{
        width: 92vw;
    }
    .sizemain {
        width: 19vw;
        height: 2vh;
    }
    .where{
        width: 31vw;
    }
    .gobtn{
        width: 12vw;
    }
    .linknav {
        font-size: 5.5vw;
    }
    .explore {
        margin: 0 13vw 1vh;
    }    
    
}
@media screen and (max-width:367px) {
    .explore2 {
        font-size: 0.9em;
        height: 2vh;
    }
}


